<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="https://cdn-assets-cloud.frontify.com/s3/frontify-cloud-files-us/eyJwYXRoIjoiZnJvbnRpZnlcL2FjY291bnRzXC80MlwvMjMzNDQ4XC9wcm9qZWN0c1wvMzMzNDY5XC9hc3NldHNcLzAwXC82MzY4NzY5XC84NmZiNmI0ZWY3YWI2MDM5ZmMyODhjMTI2OGEzODBjMi0xNjQ2ODUxNTgzLnBuZyJ9:frontify:u8wJQntkGZ1AWGF1LVcfd4qnIh0HmZ0gpKtwqLxPCnU?width=240">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire"/>
    <link rel="stylesheet" href="../styles.css"/>
    <title>Termite Warranty Service Agreement</title>

</head>
<body>
<div class="content">
        <h1 class="document-title">{{title}}</h1>

    <h2 class="title">Bulwark Exterminating</h2>
    <div class="office-info">
        <p>
            {{officeStreetAddress}}<br />
            {{officeCity}}, {{officeState}} {{officeZip}}<br />
            {{officePhone}}<br />
            {{license}}
        </p>
    </div>

    <h2 class="title">Customer Information</h2>
    <div class="customer-info">
        <p>
            <b>Name</b>: {{customerName}}<br />
            <b>Address</b>: {{customerAddress}}<br />
            <b>Phone Number</b>: {{customerPhone}}<br />
            <b>Email</b>: {{customerEmail}}<br />
            <b>Billing Name</b>: {{billingName}}<br />
            <b>Billing Address</b>: {{billingAddress}}<br />
        </p>
    </div>

    <h1>Warranty Plan(s) & Price(s)</h1>

    <!-- initial services -->
    <table class="service-table">
        <tr class="service-table-header">
            <td class="service-table-header-service-title">Initial Warranty Extension</td>
            <td class="service-table-header-price">Price</td>
        </tr>
        <tr class="service-table-row">
            <td class="service-table-service">{{serviceName}}</td>
            <td class="service-table-item">${{servicePrice}}</td>
        </tr>
        <tr class="service-table-row">
            <td class="service-table-service">Taxes</td>
            <td class="service-table-item">${{tax}}</td>
        </tr>
        <tr class="service-table-total">
            <td class="service-table-service">Total Initial Service Cost</td>
            <td class="service-table-item">${{estimatedInitialTotalPrice}}</td>
        </tr>
    </table>

    <br>

    <!-- recurring services -->
    <table class="service-table">
        <tr class="service-table-header">
            <td class="service-table-header-service-title">Recurring Termite Services</td>
            <td class="service-table-header-price">Price/Month</td>
        </tr>
        <tr class="service-table-row">
            <td class="service-table-service">{{serviceName}}<br><span class="description">{{additionalWording}}</span></td>
            <td class="service-table-item">${{servicePrice}}</td>
        </tr>
        <tr class="service-table-row">
            <td class="service-table-service">Taxes</td>
            <td class="service-table-item">${{tax}}</td>
        </tr>
        <tr class="service-table-total">
            <td class="service-table-service">Total Cost Each Month</td>
            <td class="service-table-item">${{recurringMonthlyTotalPrice}}</td>
        </tr>
    </table>


    <table class="service-table">
        <tr class="service-table-header">
            <td class="service-table-header-service-title"></td>
            <td class="service-table-header-price">Price/Service</td>
        </tr>
        <tr class="service-table-row">
            <td class="service-table-service">{{serviceName}}<br><span class="description">{{additionalWording}}</span></td>
            <td class="service-table-item">${{servicePrice}}</td>
        </tr>
        <tr class="service-table-row">
            <td class="service-table-service">Taxes</td>
            <td class="service-table-item">${{tax}}</td>
        </tr>
        <tr class="service-table-total">
            <td class="service-table-service">Total Cost Each Month</td>
            <td class="service-table-item">${{recurringPerServiceTotalPrice}}</td>
        </tr>
    </table>

    <h2 class="title">Treatment Info</h2>
    <div class="treatment-info">
        <p>
            <b>New Home Closing Date</b>: {{newHomeClosingDate}}<br />
            <b>Builder's Guarantee Expiration Date</b>: {{builderGuaranteeExpirationDate}}<br />
            <b>Length of Warranty Extension</b>: {{lengthOfWarrantyExtension}}<br />
            <b>Bulwark's Guarantee Expiration Date</b>: {{bulwarksGuaranteeExpirationDate}}<br />
            <b>Treatment Type</b>: {{treatmentType}}<br />
            <b>Payment Type</b>: {{paymentType}}
        </p>
    </div>

    <h2 class="title guarantee-title">Bulwark's Guarantee</h2>
    <p class="guarantee">
        Bulwark guarantees to shield your home from subterranean termites with the most advanced environmentally friendly methods for the duration of this agreement. If termites return during this guarantee, then Bulwark will return as well to eliminate them at no additional cost to you.
    </p>

    <hr />

    <div class="fine-print">

        {{finePrint}}

    </div>


    <div class="signature-container">
        <div class="signature-section">
            <label for="signature"><b>Customer Signature</b>:</label>
            <div class="signature-box">
                <span class="signature-line"><img
                        src="{{signature}}"
                        alt="signature"
                        id="signature"
                /></span>
            </div>
        </div>

        <div class="date-section">
            <label for="date"><b>Today's Date</b>:</label>
            <div class="date-box">
                <span class="date-line" id="date">{{signedOn}}</span>
            </div>
        </div>
    </div>

    <div class="signee-selection">
        <input type="radio" id="owner" name="role" value="owner" checked />
        <label for="owner" class="radio-label">Owner</label>
        <input type="radio" id="lessee" name="role" value="lessee" {{signee}} />
        <label for="lessee" class="radio-label">Lessee</label>
        <input type="radio" id="agent" name="role" value="agent" {{signee}} />
        <label for="agent" class="radio-label">Agent</label>
    </div>
    <br />
    <div class="timetable-section">
        <h4>FOR BULWARK USE</h4>
        <table class="timetable">
            <tr>
                <td>Witness: {{witnessName}}</td>
            </tr>
            <tr>
                <td>Employee ID: {{witnessHrNumber}}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>Created on {{createdOn}} <i>(UTC)</i></td>
            </tr>
            <tr>
                <td>Opened on {{openedOn}} <i>(UTC)</i></td>
            </tr>
            <tr>
                <td>Signed on {{signedOn}} <i>(UTC)</i></td>
            </tr>
            <tr>
                <td>Submitted on {{submittedOn}} <i>(UTC)</i></td>
            </tr>
            <tr>
                <td>Saved on {{savedOn}} <i>(UTC)</i></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
